/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #323232;
  border: none;
}

body{
  background-image: url('../img/background.jpg');
  background-size: cover;
}

textarea:focus, input:focus {
  outline: none;
}

a, label{
  font-size: .8rem;
}

a:hover{
  color: #085588;
}

/* Container-Login */
#login_container {
  background-color: #fff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

/* Form */
form{
  margin-top: 30px;
  margin-bottom: 40px;
}

label, input{
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus{
  border-bottom: 2px solid #085588;
}

#forgot_pass {
  text-align: right;
  display: block;
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  background-color: #08558B;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #18223c;
  transition: .5s;
}

/* Social Medias */ 
#social_container, #social_container p {
  margin-bottom: 10px;
}

#social_container i {
  border-radius: 50%;
  line-height: 40px;
  margin: 0 5px;
  cursor: pointer;
}

/* Register */ 
#register-container p {
  margin-bottom: 10px;
}